* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(233, 233, 233);
}

.wrapper {
	border: 1px solid black;
	width: 600px;
	box-shadow: 0 0 10px black;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	height: 250px;
	font-family: 'Dancing Script', cursive;
	background-image: url(img/pistachios-3450670_1280.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 20px 40px;
}

h1 {
	padding-bottom: 10px;
}

.search-input {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	font-size: 14px;
	background-color: rgba(225, 225, 225, 0.85);
}
.drinks {
	background-color: white;
	padding: 10px 20px;
}
h2 {
	padding: 10px;
}

ul {
	list-style: none;
	padding: 10px 20px;
}

li {
	border-bottom: 1px solid rgb(226, 226, 226);
	padding: 5px;
}
li:last-child {
	border-bottom: none;
}
