* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(315deg, #7f5a83 0%, #094d7e 74%);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: 600px;
}

.question-info {
	text-align: center;
	font-size: 24px;
}

.question-info h1 {
	font-size: 60px;
}

.ball-img {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ball-img img {
	width: 300px;
	margin-right: 90px;
	cursor: pointer;
}

.question-area {
	width: 80%;
	text-align: center;
}

.question {
	width: 60%;
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 10px;
}

.answer {
	margin-top: 10px;
	font-size: 24px;
}
.error {
	margin-top: 10px;
	font-size: 24px;
}

.shake-animation {
	animation: shake 1s 1;
}
@keyframes shake {
	0% {
		margin-right: 150px;
	}
	20% {
		margin-right: 50px;
	}
	40% {
		margin-right: 150px;
	}
	60% {
		margin-right: 50px;
	}
	80% {
		margin-right: 150px;
	}
	100% {
		margin-right: 90px;
	}
}
